
.Card{
  border-radius: 10px;
  border: 2px solid black ;
  background-image: url('./assets/images/sprites/cards_sprite.png') !important;
  transition: 0.3s ease-in-out;
}
.Card:hover{
  z-index: 100;
  box-shadow: 0px 5px 20px 1px;
  transform: scale(1.2);
}
